/ {
	pwmleds {
		compatible = "pwm-leds";
		fading_led: fading_led {
			    pwms = <&ledc0 0 10000 PWM_POLARITY_NORMAL>;
		};
	};
};

&pinctrl {
        ledc0_default: ledc0_default {
	        group1 {
		        pinmux = <LEDC_CH0_GPIO25>;
			output-enable;
		};
	};
};

&ledc0 {
        pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
        status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
	        reg = <0x0>;
		timer = <0>;
	};
};